body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background: #90836a;
    height: 600vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

h1 {
    font-size: 8vw;
    font-weight: lighter;
    text-align: center;
}

.slider-section {
    height: 22vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.wheel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300vw;
    height: 300vw;
    max-width: 2000px;
    max-height: 2000px;
}

.wheel__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 6%;
    max-width: 200px;
    aspect-ratio: 1 /1;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    cursor: pointer;
}

.scroll-down-icon {
    position: fixed;
    top: 4em;
    right: 2em;
    transform: rotate(90deg);
}

.scroll-down-icon img {
    width: 50px;
}


.scroll-down {
    position: fixed;
    top: 3em;
    left: 2em;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    overflow: visible;
}